@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');




/* Default Setup */

:root {
    --ff-roboto: 'Roboto', sans-serif;
    --ff-raj: 'Rajdhani', sans-serif;
    --ff-open: 'Roboto', sans-serif;

    --fw-thin: 100;
    --fw-light: 300;
    --fw-regular: 400;
}

body {
    font-family: var(--ff-roboto);
}

body a {
    cursor: pointer;
}

body .home-link {
    position: fixed;
    top: 7vh;
    right: 20px;
    color: #407ce6;
    font-weight: var(--fw-light);
    transition: .2s ease;
}

body .home-link.invisible {
    opacity: 0;
}



/* Header */

header {
    position: fixed;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 50px;
    background: #f6febd;

    display: grid;
    place-content: center;
    padding: .75rem 0;
    font-weight: var(--fw-light);
    transition: .2s ease;
}

header.invisible {
    opacity: 0;
}

@media (max-width: 1000px) {
    header {
        position: relative;
    }
}




/* Main Section  */

main {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #0964e4;
}

main :is(.left-top, .right-bottom) {
    width: 50%;
}

@media (max-width: 1000px) {
    main {
        margin-top: 0;

        flex-direction: column;
        justify-content: flex-start;

        height: 250vh;
    }
    main :is(.left-top, .right-bottom) {
        width: 100%;
    }
}



/* Main - Left Top */

main .left-top {
    background-image: url("./images/huge-image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

main .left-top .burger-menu {
    display: none;
    align-items: center;

    position: absolute;
    top: 30px;
    right: 20px;

    width: 45px;
    aspect-ratio: 1/1;
    
    cursor: pointer;
}
main .left-top .burger-menu::before,
main .left-top .burger-menu::after {
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
}
main .left-top .burger-menu::before {
    top: 0;
}
main .left-top .burger-menu .middle-bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: black;
}
main .left-top .burger-menu::after {
    bottom: 0;
}

main .left-top .erin-link {
    font-size: 1.3rem;
    font-weight: var(--fw-regular);

    position: fixed;
    top: 7vh;
    left: 20px;
    transition: .2s ease-in-out;
}

main .left-top .erin-link.invisible {
    opacity: 0;
}

main .left-top .sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    width: 20px;

    position: fixed;
    top: 30vh;
    left: 10px;
}

@media (max-width: 1000px) {
    main .left-top {
        height: 30%;
    }
    main .left-top .burger-menu {
        display: flex;
    }
    main .left-top .erin-link {
        position: relative;
        top: 30px;
        left: 20px;
        
        font-size: 1.7rem;
        font-weight: var(--fw-light);
    }
    main .left-top .sm {    
        flex-direction: row;
        row-gap: 0;
        column-gap: 1.5rem;

        width: 150px;
        height: 50px;
        border-radius: 10px;
        isolation: isolate;

        position: absolute;
        top: 90%;
        left: calc((100vw - 150px) / 2);
    }
    main .left-top .sm::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 10px;
        background-color: white;
        z-index: -1;
        opacity: .5;
    }
    main .left-top .sm i {
        font-size: 1.5rem;
    }
}




/* Main - Right Bottom */

main .right-bottom {
    background-color: #edecec;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 5rem;
}

main .right-bottom .coming-soon {
    font-size: 4rem;
    font-weight: var(--fw-light);
    font-family: var(--ff-open);
}

main .right-bottom .picture-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 1.5rem;
    height: 320px;
}

main .right-bottom .picture-box img:first-child {
    align-self: flex-end;
}

main .right-bottom .picture-box img:last-child {
    align-self: flex-start;
}

main .right-bottom .bottom-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    row-gap: 3rem;
}

main .right-bottom .bottom-box .form-text {
    font-weight: var(--fw-light);
    font-family: var(--ff-raj);
    font-size: 1.5rem;
    text-align: center;
    max-width: 70%;
}

main .right-bottom .bottom-box form {
    position: relative;
    width: 80%;
}

main .right-bottom .bottom-box form :is(label, button) {
    font-weight: var(--fw-light);
    font-size: .8rem;
}

main .right-bottom .bottom-box form label {
    position: relative;
}

main .right-bottom .bottom-box form label::after {
    content: "*";
    position: absolute;
    right: -10px;
}

main .right-bottom .bottom-box form input {
    width: 100%;
    height: 40px;
    border-bottom: 1.5px solid black;
    padding: .5rem .2rem;
    font-weight: var(--fw-light);
}

main .right-bottom .bottom-box form input:invalid {
    border-bottom: 3px solid #bd0100;
}

main .right-bottom .bottom-box form button {
    padding: .5rem 1.5rem;
    background-color: #0964e4;
    color: white;
    border-radius: .5rem;
    cursor: pointer;

    position: absolute;
    bottom: 8px;
    right: 0;
}

main .right-bottom .bottom-box form button:hover {
    background-color: #0a59c8;
}

@media (max-width: 1000px) {
    main .right-bottom {
        height: 70%;
    }
}




/* Footer */

footer {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: var(--fw-light);

    position: relative;
}

footer p {
    width: 350px;
    text-align: center;

    position: absolute;
    right: calc((50vw - 350px) / 2);
}




/* @media (max-width: 1000px) {
    header {
        position: relative;
    }

    main {
        margin-top: 0;
        flex-direction: column;
        height: 1800px;
    }
    main :is(.left-top, .right-bottom) {
        width: 100%;
        height: 50%;
    }
    main .left-top .burger-menu {
        display: flex;
        align-items: center;

        position: absolute;
        top: 30px;
        right: 20px;

        width: 45px;
        aspect-ratio: 1/1;
    }
    main .left-top .burger-menu::before,
    main .left-top .burger-menu::after {
        content: "";
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background-color: black;
        position: absolute;
    }
    main .left-top .burger-menu::before {
        top: 0;
    }
    main .left-top .burger-menu .middle-bar {
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background-color: black;
    }
    main .left-top .burger-menu::after {
        bottom: 0;
    }
    main .left-top .erin-link {
        position: absolute;
        top: 30px;
        left: 20px;
        font-size: 2rem;
    }
    main .left-top .sm {    
        position: absolute;
        top: 800px;
        left: calc((100vw - 150px) / 2);

        flex-direction: row;
        row-gap: 0;
        column-gap: 1.5rem;

        width: 150px;
        height: 50px;
        border-radius: 10px;
        isolation: isolate;
    }
    main .left-top .sm::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 10px;
        background-color: white;
        z-index: -1;
        opacity: .5;
    }
    main .left-top .sm i {
        font-size: 1.5rem;
    }
} */




/* 

    + Burger Menu Bar 

    + Home Link

    + RWD

*/